.footer {
    background-color: $color-green;

    &__title {
        display: block;
        font-size: 1.5em;
        padding-bottom: 30px;
    }

    &__primary {
        padding: 55px 10px;
        display: block;
        border-bottom: 1px solid rgba($color-white, 0.3);
    }

    &__secondary {
        padding: 35px 10px;
        text-align: left;

        &__link::after {
            content: "•";
            padding: 10px;
        }
    }

    &__icons {
        padding-top: 35px;
    }

    &__link {
        text-decoration: dashed;
    }

    @include mq-up("tablet") {
        &__title {
            display: block;
            font-size: 1.5em;
            padding-bottom: 0;
        }

        &__primary {
            padding: 55px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            border-bottom: 1px solid rgba($color-white, 0.3);
        }

        &__secondary {
            padding: 35px 0;
            text-align: right;
        }

        &__icons {
            padding-top: 0;
        }
    }

}