.information {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-wrapper {
        background-color: $color-green;
        color: $color-white;
    }

    &__contacts {
        padding-right: 20px;
        font-size: 0.75em;
    }

    &__link {
        color: $color-white;
    }
}