.card {
    background: pink;
    padding-top: 10px;

    &__title {
         h2 {
            margin: auto;
         }
    }

    &__image {
        margin: 0 auto;
    }

    &__info {
        margin: 20px 0 0;

        &--p {
            padding-bottom: 0.4em;
        }
    }

    &--alt {
        max-width: 300px;
        height: 300px;
        margin: auto;
        text-align: center;
        margin-top: 100px;
    }
}