.card-wrapper{
    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: 300px;
    gap: 10px;
    text-align: center;
    padding-top: 10px;

    @include mq-up('tablet') {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mq-up('desktop') {
        grid-template-columns: repeat(4, 1fr);
    }
}