.social {
    a {
        padding: 0;
        display: inline;
    }

    &__title {
        font-size: 1em;
        color: $color-text;
        margin-bottom: 45px;
    }

    &__content {
        font-size: 0.9em;
        line-height: 1.3;
        opacity: 0.8;
    }

    a {
        color: $color-text;
    }
}