.container {
    display: flex;
    justify-content: space-between;
    margin: 0 5em;
    height: 9vh;
}

// @media only screen and (max-width: 1030px) {
//     .container {
//         text-align: center;
//     }
// }