:root {
    --body-bg: #15161e;
    --header-gap: 15px;
    --text-large: 20px;
    /* --min-width-tablet: 960px; */
    --max-width-mobile: 769px;
}

/*******
 1. General Styles

********/

body {
    background-color: var(--body-bg);
    color: white;
    font-family: sans-serif;
    line-height: 1.2;
}

a:link, a:visited {
    color: #d1d1d3;
    text-decoration: none;
}

a:hover {
    color: white;
}

button {
    background: transparent;
    color: inherit;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

img {
    /* width: 100%;
    height: auto; */
    width: 100%;
    height: 100%;
}

/*******
 2. Container
 
********/

.container {
    max-width: 1240px;
    padding: 0 50px 0 50px;
    margin: auto;
}

header, section, footer {
    border-top: 1px solid lightslategray;
}


/*******
 3. Header
 
********/

.header {
    background-color: var(--body-bg);
    box-shadow: 1px solid "313339";
    padding: var(--header-gap) 0;
    z-index: -1;
}


/*******
 3.1. Primary navigation
 
********/

.primary-navigation {
    list-style: none;
    display: flex;
    gap: 25px;
}

.primary-navigation-item {
    position: relative;
}

li.primary-navigation-item::after {
    content: '';
    display: block;
    height: 1px;
    width: 80%;
    background: white;
    margin: auto;
  }

.primary-navigation-item:last-child {
    margin-left: auto;
}

.primary-navigation-item.has-dropdown button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.primary-navigation-item.has-dropdown svg{
    fill: white;
    width: 0.7em;
    height: 0.7em;
    transform: rotate(90deg);
    transition: 200ms;
}

/*focus-within sadrzava listu vidljivu sve dok se ne klikne van*/
.primary-navigation-item.has-dropdown:focus-within .dropdown {
    display: block;
}

.primary-navigation-item.has-dropdown:focus-within .arrow{
    display: block;
}

.primary-navigation-item.has-dropdown:focus-within svg{
    transform: rotate(270deg);
}

.has-dropdown {
    position: relative;
}

.arrow {
    position: absolute;
    top: calc(90% + var(--header-gap));
    left: 81%;
    width: 20px;
    height: 50%;
    background-color: var(--body-bg);
    border: 1px solid lightslategray;
    transform: rotate(45deg);
    display: none;
}


.dropdown {
    display: none;
    position: absolute;
    left: -40%;
    top: calc(100% + var(--header-gap));
    min-width: 150px;
    padding: 0.8em;
    background: var(--body-bg);
    border: 1px solid lightslategray;
    border-width: thin;
    z-index: 2;
}

/* .dropdown-item:not(:last-child) {
    border-bottom: 1px solid;
} */

.dropdown-item a {
    display: block;
    padding: 0.5em;
}

/********
4. Hero

********************/

.hero{
    background-image: url("hero.jpg");
    background-color: #150e14;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 420px;
}

.hero-title{
    font-size: 34px;
    font-weight: bold;
    padding-top: 130px;
}

.hero-lead{
    font-size: var(--text-large);
    margin: 1em 0;
}


/*******
5. Button

**************/

a.button, button.button {
    display: inline-block;
    background-color: #2374e0;
    color: white;
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: bold;
}

a.button:hover {
    border: 2px solid #76aff4;
    padding: 13px 28px;
}


/*********
6. Benefit box

**********************/
.benefits {
    background-color: #1a1c23;
    padding-bottom: 40px;
}

.benefits-wrapper {
    display: flex;
    gap: 15px;
}

.benefits-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.benefits-lead {
    max-width: 60%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: var(--text-large);
    line-height: 1.3;
}

.benefit-box {
    background-color: #292b33;
}

.benefit-box-summary {
    padding: 0 10px 10px;

}

.benefit-box-title {
    margin: 30px 0 20px;
}

.benefit-box-description {
    margin-bottom: 25px;
}

.benefit-box-image {
    max-height: 175px;
    overflow: hidden;
    border: 1px solid #3a3b41;
}

.benefit-box-image:hover {
    filter: brightness(1.2);
}

.link-alternative svg {
    fill: #2374e0;
    width: 0.7em;
    height: 0.7em;
    margin-left: 0.4em;
}

.link-alternative:hover svg {
    fill: currentColor;
}
/********
7. Links

**************/

a.link-alternative {
    color: #2d8dff;
}

a.link-alternative:hover {
    color: #76aff4;
}



/*********
8. Footer

*****************/

.footer {
    text-align: center;
    padding: 90px 0 235px;
    height: 80px;
    /*Tu staviti padding bottom*/
}

.footer-title {
    font-size: 35px;
    padding-bottom: 50px;
}

.footer-navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
} 

.footer-navigation-item a{
    color: white;
}

.footer-navigation-item:not(:last-child)::after {
    content: " ";
    display: inline-block;
    height: 10px;
    width: 1px;
    margin-left: 16px;
    margin-right: 8px;
    background-color: lightgray;
} 

/* .footer div{
    padding: 80px 0 235px;
} */

.copyright, .trademark {
    font-size: 13px;
    color: lightgray;
}

.copyright {
    padding-bottom: 0.3em;
}

.trademark {
    padding-bottom: 0.6em;
}

.privacy-terms-cookies {
    font-size: 13px;
}

.footer-navigation-item-ptc:not(:last-child)::after {
    content: " ";
    display: inline-block;
    height: 10px;
    width: 1px;
    margin-left: 10px;
    background-color: lightgray;
}

.trademark a.link {
    color: white;
}

/**********
9. Kolacic

************************/

.cookie-monster {
    height: 90px;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.8);
    position: sticky; 
    bottom: 0.0000002em; 
}

.container-cookie {
    font-size: 15px;
    margin: auto;
    max-width: 1800px;
    height: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.cookie-button {
    background-color: #0e86ca;
    border: solid 1px #00aeff;
    height: 43px;
    /* width: 200px; */
}

.cookie-accept {
    width: 155px;
}

.cookie-button:first-of-type {
    margin-right: 75px;
}

.cookie-disabled {
    display: none;
}

.cookie-buttons button:hover {
    /* background-color: #00aeff; */
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .benefit-box {
        display: flex;
    }
    .benefits-wrapper {
        flex-direction: column;
    }
    .benefit-box-image{
        min-width: 40%;
        max-height: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        margin: 20px;
    }
    .hero .container {
        width: 300px;
        text-align: center;
    }

    .benefit-box-image{
        display: none;
    }

    .footer .container {
        max-width: 500px;
    }

    .footer-navigation {
        flex-direction: column;
    }

    .footer-navigation-item:not(:last-child)::after {
        display: block;
        margin-top: 0;
        margin-left: 243px;
        transform: rotate(90deg);
        height: 30px;
        /* content: "";
        display: block;
        height: 1px;
        width: 8%;
        background: white;
        margin: auto; */
        
    } 

    .footer-navigation-item-ptc:not(:last-child)::after {
        display: block;
        margin-top: 0;
        margin-left: 243px;
        transform: rotate(90deg);
        height: 30px;
    }

    .trademark {
        margin-bottom: 1em;
    }

    .cookie-monster {
        padding: 35px 
    }
}

.click {
    width: 200px;
    height: 200px;
    background-color: #76aff4;
}

.show {
    display:none;
    height:200px;
    background-color:green;
}

.click:focus  {
    display:block;;
}