//Grid variables
$grid-breakpont-s-max: 688px;
$grid-breakpont-m-min: 689px;
$grid-breakpont-dropdown: 769px;
$grid-breakpont-m-max: 992px;
$grid-breakpont-l-min: 993px;

$grid: (
    'phone': (
        'max': $grid-breakpont-s-max
    ),
    'tablet': (
        'min': $grid-breakpont-m-min,
        'max': $grid-breakpont-m-max
    ),
    'desktop': (
        'dropdown': $grid-breakpont-dropdown,
        'min': $grid-breakpont-l-min
    )
);

.container {
    max-width: 1225px;
    margin: auto;
    padding: 0 15px;
}