.updates {

    &__list {
        padding: 20px 0;
        overflow-x: auto;
    }

    &__item {
        padding: 20px 0;
    }

    // &__link {
    //     display: block;
    //     padding-top: 10px;
    // }
}