// General variables
$color-text: black;
$color-black: hsl(0deg 0% 39%);
$color-pink: hsl(23deg 64% 78%);
$color-primary: white;
$color-benefit: hsl(116deg 52% 42%);

// Card variables
$card-hover: hsl(50deg 95% 51%);

//Button colors
$color-button-blue: hsl(212deg 74% 37%);

$font-weights: ("regular": 400, "medium": 500, "bold": 700);
