.education {
    color: blue;
} 

.recreational {
    color: green;
}

.social {
    color: red;
}

.diy {
    color: yellow;
}

.charity {
    color: pink;
}

.cooking {
    color: tomato;
}

.relaxation {
    color: lightgreen;
}

.music {
    color:lightskyblue
}

.busywork {
    color: dodgerblue;
}
