.card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 40px;

    @include mq-up('tablet') {
        grid-template-columns: repeat(3, 1fr);

        &--alt {
            grid-template-columns: repeat(4, 1fr);
        }

        &--two {
            grid-template-columns: repeat(2, 1fr);
            gap: 0;
        }
    }
}