$font-weights: (
    "regular": 400, 
    "medium": 500, 
    "bold": 700
);

$color-bg: #281504;
$color-white: white;
$color-grey: grey;
$hover: rgb(63, 40, 1);
$dropdown: hsl(218deg 25% 15%);
$link-hover: rgb(207, 207, 207);