$color-primary: hsl(0deg 0% 97%);
$color-green: hsl(74deg 68% 47%);
$color-white: white;
$color-black: hsl(0deg 0% 7%);
$color-orange: hsl(43deg 96% 58%);
$color-pink: hsl(346deg 93% 61%);
$color-gray-one: hsl(0deg 0% 49%);
$color-gray-two: hsl(180deg 1% 68%);
$color-gray-three: hsl(0deg 0% 97%);
$color-gray-four: hsl(0deg 0% 90%);